/* Page */

body {
	max-width: 800px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/* Headings */

h1, h2, h3 {
	font-weight: 600;
}

#controls {
	margin-bottom: 20px;
	font-size: 0;
}
#controls select {
	margin: 0 5px;
	font-size: 16px;
}
#controls .data-structure-options {
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
#controls .buttons {
	margin-top: 10px;
}
#controls button {
	margin: 0 5px;
}

#canvas-container {
	width: 100%;
	border: solid 2px #000;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	font-size: 0;
	overflow: hidden;
}
#canvas-container svg {
	/* Raphael will try to override this; be assertive! */
	overflow: visible !important;
}

/* Linked list styles */

.node-body,
.pointer-arrow,
.pointer-body,
.null {
	stroke-width: 2
}

.node-body.reachable,
.pointer-body.reachable {
	fill: #fff;
}
.node-body.unreachable,
.pointer-body.unreachable {
	fill: #ddd;
}

/* The elem value of a reachable node pointed to by an unreachable node */
.pointer-elem {
	font-weight: bold;
}
