/* Page */

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/* Headings */

h1, h2, h3 {
	font-weight: 600;
}

select {
	font-size: 16px;
}

#controls {
	margin-bottom: 20px;
}

#paper-container svg {
	border: solid 2px #000;
}

/* Linked list styles */

.node-body,
.pointer-arrow,
.pointer-circle,
.pointer-null-cross {
	stroke-width: 2
}

.node-body,
.pointer-circle {
	fill: #fff;
}

.node-elem,
.node-elem tspan,
.pointer-null-cross {
	pointer-events: none;
}
