/* Page */

body {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

/* Headings */

h1, h2, h3 {
	font-weight: 600;
}

select {
	font-size: 16px;
}

#controls {
	margin-bottom: 20px;
}

#paper-container svg {
	border: solid 2px #000;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

/* Linked list styles */

.node-body,
.pointer-arrow,
.pointer-circle,
.null {
	stroke-width: 2
}

.node-body,
.pointer-circle,
.pointer-null-cross {
	fill: #fff;
}

.node-elem,
.node-elem tspan, {
	pointer-events: none;
}

.step-0 .pointer-circle,
.step-1 .node-body,
.step-1 .null {
	fill: #fc3;
}
.step-0 .pointer-circle,
.step-1 .node-body,
.step-1 .null {
	stroke: #e63;
}
.step-1 .node-elem {
	fill: #e30;
}

.src-pointer,
.src-pointer {
	fill: #8bf;
	stroke: #36c;
}

.dst-node {
	fill: #8e5;
	stroke: #470;
}
.dst-node + .node-elem {
	fill: #470;
}
